@media screen and (max-width:991px) {

    /*--------------------------- REGLAGES DE MISE EN PAGE GENERALE - Smartphones */

    body {
        font-size:14px;
    }
    h1, h2 {
        font-size:17px;
    }
    h3 {
        font-size:14px;
    }
    input, label, button {
        font-size:14px;
    }

    /* NAV - Smartphones */

    picture.entete__image {
        margin:0px;
    }
    a.li__liens {
        border-top: 0px;
        border-bottom:3px solid transparent;
        padding-bottom:15px;
    }
    a.li__liens:focus, a.li__liens:hover {
        color:#0065FC;
        border-top:0px;
        border-bottom:3px solid #0065FC;
    }

    /*-------------------------------------- CONTENU PRINCIPAL - Tablettes */

    main {
        margin-top:20px;
    }

    /*----------------------- SECTION RECHERCHE - Tablettes */

    /* CHAMPS DE RECHERCHE - Tablettes */

    form.barre-de-recherche {
        margin-bottom:20px;
    }
    
    /* BOUTONS DE FILTRES - Tablettes */

    div.filtres {
        flex-direction:column;
    }
        button.boutons__items {
            margin: 14px 20px 14px 0px;
        }

    /*-------------------- SECTION HEBERGEMENT - Tablettes */

    /* HEBERGEMENTS A MARSEILLE - Tablettes */

    article.hebergement-marseille {
        width:58%;
        padding:3%;
    }
        a.conteneur__carte-hotel {
            width:48%;
        }
            picture.carte-hotel__img {
                height:90px;
            }
            figcaption.carte-hotel__tarif {
                padding: 5px 0px 0px 5px
            }
                figcaption.carte-hotel__tarif p {
                    padding-top:2px;
                }
                p.tarif__icones {
                    font-size:12px;
                }

    /* LES PLUS POPULAIRES - Tablettes */

    aside.hebergement-populaire {
        width:38%;
    }
        a.conteneur__carte-populaire {
            height:140px;
        }
            picture.carte-populaire__img {
                width:40%;
                margin-right:9px;
            }
            figcaption.carte-populaire__description {
                height:130px;
            }

    /*--------------------- SECTION ACTIVITE - Tablettes */

    div.activite__galerie {
        flex-wrap:wrap;
    }
        div.galerie__conteneur {
            width:48%;
            margin-bottom:35px;
        }

    /*----------------------------------------------- PIED DE PAGE - Tablettes */

    div.pied-de-page {
        width:100%;
        padding:20px 3% 30px 3%;    
        justify-content: center;
    }
        div.pied-de-page__conteneur {
            width:33%;
            text-align:center;
        }
        div.pied-de-page__conteneur:nth-child(2) {
            width:34%;
            border-right:4px solid #FFFFFF;
            border-left:4px solid #FFFFFF;
        }
}